button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #56baed;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.9em;
}

button:hover {
    background-color: #0d6efd;
    border-radius: 0.9em;
}

.front{

}