*{
    opacity: unset;
}
a {
    text-decoration: none;
    color: inherit;
}

.categoria {
    margin-top: 0em;
}

.opcion{
    border-color: #0f5132;
}

.width-card{
    width: 65%!important;
}

@media (min-width: 992px) {
    .width-card{
        width: 25%!important;
    }
}