* {
    opacity: unset;
}
body {
    height: 100vh
}
.bd-image {
    background-image: url('/public/imgs/Fondo.png');
    background-size: cover;
}

a {
    text-decoration: none;
}

.categoria {
    margin-top: 0em;
}

.opcion {
    border-color: #0f5132;
}

.width-card {
    width: 65% !important;
}

@media (min-width: 992px) {
    .width-card {
        width: 25% !important;
    }
}

.deshabilitado {
    pointer-events: none;
}

.gris {
    background-color: gray;
}

.boton {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.Arte {
    background-color: deeppink;
}

.Historia {
    background-color: blue;
}

.Geografia {
    background-color: #39ace7;
}

.Ciencia {
    background-color: greenyellow;
}

.Deportes {
    background-color: orange;
}

.Entretenimiento {
    background-color: yellow;
}

.modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.modal-footer .btn {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.list-group .report-option {
    border: none;
    padding: 1rem;
    background-color: transparent;
    text-align: left;
}

.list-group .report-option:hover {
    background-color: #4d5256;
}

.list-group .report-option:focus {
    background-color: #4d5256;
    outline: none;
    box-shadow: none;
}

.card.recarga {
    /* Add the following styles */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lobby{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #56baed;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.9em;
}

.lobby:hover{
    background-color: #0d6efd;
    border-radius: 0.9em;
}

.reportar{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #ed5656;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.9em;
}

.reportar:hover{
    background-color: red;
    border-radius: 0.9em;
}


