{{> header}}
<link rel="stylesheet" href="/public/css/login.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body class="bd-image " style="background-image: url('/public/imgs/Fondo.png'); color: ghostwhite">

    <div class="container my-5 pt-3 text-center">
        <h3 class="text-center">Solicitar reporte</h3>
        <p>Por favor, seleccione el tipo de reporte a generar.</p>
    </div>
    <div class="container w-75 mx-auto py-5 px-4" style="background-color:rgba(0, 0, 0, 0.3);color:white;">
        <form action="/reporte" method="POST" >
            <div class="row">
                <div class="col-8">
                    <select class="form-select mb-3" aria-label=".form-select-lg example" name="filtro">
                        <option selected disabled value="">Seleccione filtro...</option>
                        <option value="Year">Año</option>
                        <option value="Month">Mes</option>
                        <option value="Week">Semana</option>
                        <option value="Day">Día</option>
                    </select>
                </div>

                <div class="col-4">
                    <button type="submit" class="btn btn-primary" name="buscar"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="container d-grid w-75 mx-auto py-5 px-4">
        <h2 class="text-center">GRAFICOS</h2>

        <div class="justify-content-between">
            <img src="/public/graficos/cantidadJugadores.png" alt="Cantidad de Jugadores">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadJugadores.png&name=cantidadJugadores.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div class="justify-content-between">
            <img src="/public/graficos/cantidadJugadoresNuevos.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadJugadoresNuevos.png&name=cantidadJugadoresNuevos.pdf" target="_blank">Generar PDF</a></button>
        </div><br>

        <div>
            <img src="/public/graficos/cantidadPorGenero.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadPorGenero.png&name=cantidadPorGenero.pdf" target="_blank">Generar PDF</a></button>
        </div><br>
        <div>
            <img src="/public/graficos/cantidadPorGrupoEtario.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadPorGrupoEtario.png&name=cantidadPorGrupoEtario.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div>
            <img src="/public/graficos/cantidadPorPais.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadPorPais.png&name=cantidadPorPais.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div>
            <img src="/public/graficos/cantidadPartidas.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/cantidadPartidas.png&name=cantidadPartidas.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div>
            <img src="/public/graficos/preguntasTotales.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/preguntasTotales.png&name=preguntasTotales.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div>
            <img src="/public/graficos/preguntasNuevas.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/preguntasNuevas.png&name=preguntasNuevas.pdf" target="_blank">Generar PDF</a></button>
        </div>
        <br>
        <div>
            <img src="/public/graficos/porcentajeUsuario.png" alt="Cantidad Jugadores Nuevos">
            <button><a href="/reporte/generarPDF?src=/public/graficos/porcentajeUsuario.png&name=porcentajeUsuario.pdf" target="_blank">Generar PDF</a></button>
        </div>
    </div>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#generarPDF').click(function() {
                var imagenSrc = $('img').attr('src');
                var imagenNombre = imagenSrc.substring(imagenSrc.lastIndexOf('/') + 1, imagenSrc.lastIndexOf('.'));

                $.ajax({
                    url: '/reporte/generar_pdf',
                    method: 'POST',
                    data: { imagenNombre: imagenNombre },
                    success: function(response) {
                        alert('PDF generado exitosamente');
                    },
                    error: function() {
                        alert('Error al generar el PDF');
                    }
                });
            });
        });
    </script>-->
</body>