{{> header}}
<link rel="stylesheet" href="./public/css/login.css">

<body class="bd-image " style="background-image: url('/public/imgs/Fondo.png'); color: ghostwhite">

    <div class="container my-5 pt-3 text-center">
        <h3 class="text-center">Solicitar reporte</h3>
        <p>Por favor, seleccione el tipo de reporte a generar.</p>
    </div>
    <div class="container w-75 mx-auto py-5 px-4" style="background-color:rgba(0, 0, 0, 0.3);color:white;">
        <form action="/reporte" method="POST" >
            <div class="row">
                <div class="col-8">
                    <select class="form-select mb-3" aria-label=".form-select-lg example" name="filtro">
                        <option selected disabled value="">Seleccione filtro...</option>
                        <option value="Year">Año</option>
                        <option value="Month">Mes</option>
                        <option value="Week">Semana</option>
                        <option value="Day">Día</option>
                    </select>
                    <!--<select class="form-select mb-3" aria-label=".form-select-lg example" name="reporte">
                        <option selected disabled value="">Seleccione el tipo de informe...</option>
                        <option value="1">Cantidad de Jugadores</option>
                        <option value="2">Cantidad de Jugadores nuevos</option>
                        <option value="3">Cantidad de Jugadores por pais</option>
                        <option value="4">Cantidad de Jugadores por Genero</option>
                        <option value="5">Jugadores por Grupo Etario</option>
                        <option value="6">Cantidad de Partidas Jugadas</option>
                        <option value="7">Cantidad de Preguntas</option>
                        <option value="8">Cantidad de Preguntas Creadas</option>
                        <option value="9">Respuestas Correctas por Usuario</option>
                    </select>-->

                </div>

                <div class="col-4">
                    <button type="submit" class="btn btn-primary" name="buscar"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="container d-grid w-75 mx-auto py-5 px-4">
        <h2 class="text-center">GRAFICOS</h2>

        <div class="justify-content-between">
            <!--<table class="row table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad Jugadores</h6>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Filtro</th>
                </tr>
                {{#jugador}}
                    <tr>
                        <td>{{fecha}}</td>
                        <td>{{cantidad}}</td>
                        <td>{{filtro}}</td>
                    </tr>
                {{/jugador}}
            </table>-->
            <img id="grafico1" src="/public/graficos/cantidadJugadores.png" alt="Cantidad de Jugadores">
            <a id="generarPDF" type="submit" target="_blank" value="Generar PDF">Generar PDF</a>
        </div>
        <br>
        <div class="justify-content-between">
            <!--<table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad Jugadores Nuevos</h6>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Filtro</th>
                </tr>
                {{#nuevos}}
                    <tr>
                        <td>{{fecha}}</td>
                        <td>{{cantidad}}</td>
                        <td>{{filtro}}</td>
                    </tr>
                {{/nuevos}}
            </table>-->
            <img id="grafico2" src="/public/graficos/cantidadJugadoresNuevos.png" alt="Cantidad Jugadores Nuevos">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div><br>

        <div>
            <!--<table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad Jugadores Por Genero</h6>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Genero</th>
                </tr>
                {{#genero}}
                    <tr>
                        <td>{{fecha}}</td>
                        <td>{{cantidad}}</td>
                        <td>{{genero}}</td>
                    </tr>
                {{/genero}}
            </table>-->
            <img id="grafico3" src="/public/graficos/cantidadPorGenero.png" alt="Cantidad de Jugadores Genero">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div><br>
        <div>
           <!-- <table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad Jugadores Por Grupo Etario</h6>
                    <th>Cantidad</th>
                    <th>Grupo Etario</th>
                </tr>
                {{#edad}}
                    <tr>

                        <td>{{cantidad}}</td>
                        <td>{{grupoEtario}}</td>
                    </tr>
                {{/edad}}
            </table>-->
            <img id="grafico4" src="/public/graficos/cantidadPorGrupoEtario.png" alt="Cantidad de Jugadores por edad">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
        <br>
        <div>
           <!-- <table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad Jugadores Por Pais</h6>
                    <th>Cantidad</th>
                    <th>Pais</th>
                </tr>
                {{#pais}}
                    <tr>

                        <td>{{cantidad}}</td>
                        <td>{{pais}}</td>
                    </tr>
                {{/pais}}
            </table>-->
            <img id="grafico5" src="/public/graficos/cantidadPorPais.png" alt="Cantidad de Jugadores por Pais">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
        <br>
        <div>
           <!-- <table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad de Partidas Jugadas</h6>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Filtro</th>
                </tr>
                {{#partidas}}
                    <tr>

                        <td>{{fecha}}</td>
                        <td>{{cant_partidas}}</td>
                        <td>{{filtro}}</td>
                    </tr>
                {{/partidas}}
            </table>-->
            <img id="grafico6" src="/public/graficos/cantidadPartidas.png" alt="Cantidad Partidas">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
        <br>
        <div>
            <!--<table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad de Preguntas en el Juego</h6>
                    <th>Cantidad</th>

                </tr>
                {{#preg_totales}}
                    <tr>
                        <td>{{cant_preguntas}}</td>
                    </tr>
                {{/preg_totales}}
            </table>-->
            <img id="grafico7" src="/public/graficos/preguntasTotales.png" alt="Preguntas Totales">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
        <br>
        <div>
            <!--<table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                    <h6 class="title ">Cantidad de Preguntas Creadas</h6>
                    <th>Cantidad</th>

                </tr>
                {{#preg_nuevas}}
                    <tr>
                        <td>{{cant_preguntas}}</td>
                    </tr>
                {{/preg_nuevas}}
            </table>-->
            <img id="grafico8" src="/public/graficos/preguntasNuevas.png" alt="Cantidad de Preguntas Nuevas">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
        <br>
        <div>
        <!--    <table class="row  table text-center table-bordered" style="width: 100%;color:ghostwhite;">

                <tr>
                        <h6 class="title ">Porcentaje correctas por Usuario</h6>
                        <th>Usuario</th>
                        <th>Porcentaje</th>
                </tr>
                {{#preg_usr}}
                    <tr>
                        <td>{{usuario}}</td>
                        <td>{{porcentaje}}</td>

                    </tr>
                {{/preg_usr}}
            </table>-->
            <img id="grafico9" src="/public/graficos/porcentajeUsuario.png" alt="Porcentaje respuestas correctas">
            <button type="submit" value="Generar PDF">Generar PDF</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function(e) {
                e.preventDefault(); // Prevenir la acción predeterminada del formulario
                // Obtener el valor seleccionado del filtro
                var filtro = $('select[name="filtro"]').val();
                // Actualizar los gráficos llamando a la función correspondiente
                actualizarGraficos(filtro);
            });

        $(document).ready(function() {
            $('#filtro').change(function () {
                actualizarGraficos($(this).val());
            });

            function actualizarGraficos(filtro) {
                $.ajax({
                    url: '/reporte/mostrarGrafico1',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico2',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico3',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico4',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico5',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico6',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico7',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico8',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
                $.ajax({
                    url: '/reporte/mostrarGrafico9',
                    method: 'GET',
                    data: { filtro: filtro },
                    success: function(data) {
                        // Actualizar la imagen del gráfico
                        $('#grafico1').attr('src', data.imageUrl);
                    },
                    error: function() {
                        console.log('Error al obtener los datos del gráfico 1');
                    }
                });
            }
        })
    })
    </script>

</body>