{{>header}}

<div style="max-width: 80%">
    <h3>Éxito</h3>
    <p>Se envio un mail de autenticacion al email registrado.
        Porfavor siga los pasos para empezar a jugar</p>
</div>


<div>
      {{> footer}}
</div>
