{{>header}}
<link rel="stylesheet" href="/public/css/error.css">

<body>
<div style="max-width: 100%" class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h3>{{title}}</h3>
        <p class="card-text">{{message}}</p>
        <a href="{{buttonLink}}" class="button">{{buttonText}}</a>
    </div>
</div>
</body>

