{{>header}}
<link rel="stylesheet" href="/public/css/error.css">

<div style="max-width: 100%" class="card text-center">
    <div class="card-header">
        <div class="card-footer">
            <img src="/public/imgs/error.jpg" class="rounded-circling-black text-center img-fluid front">
        </div>
    </div>
    <div class="card-body">
        <h3>Se ha producido un error</h3>
        <p class="card-text">Intentelo nuevamente más tarde.</p>
        <a href="/"><button type="button" class='fadeIn third'>Volver al Inicio</button></a>
    </div>

</div>



<div>
      {{> footer}}
</div>
