{{> header}}

<section class='w3-container  w3-border  w3-content w3-right  w3-padding-64  w3-card-4 w3-mobile' style='margin: 5%'>
<div class= '' style='max-width:100%' id='inicio'>
    <h2 class='w3-wide w3-center'>Bienvenidos a Faquiz</h2>
    <p class='w3-center'>Poné a prueba tu conocimiento y formá parte de nuestro Ranking Global</p>
    <p class='w3-opacity w3-center'><i>No te quedes afuera. Empezá a jugar</i></p>
    <div class='w3-row w3-padding-32'>
        <form method="post">
            <div class='w3-third w3-left' >
                <button class='w3-round w3-margin-bottom '  type="submit" name="iniciarSesion"  alt='login' style='width:80%'>Iniciar Sesion</button>
            </div>
            <div class='w3-third w3-right'>
                <button type="submit" class='w3-round  w3-margin-bottom' alt='registro' style='width:80%' name="registro">Registrarse</a> </button>
            </div>
        </form>
    </div>
</div>
</section>

<section class='w3-container w3-content w3-left w3-padding-32 w3-border w3-card-4 ' style='margin: 5%'>
        <div class='w3-row w3-padding-32 ' style="width: 100%">
            <h3 class='w3-center'>Como Jugar?</h3>
<!--            /*propongo hacer una carousel de 3 imagenes con imagenes del juego , o explicativas, por eso dejo seccion/-->
            <p class='w3-justify'>
                1. Registrate <br>
                2. Inicia Sesion<br>
                3. Crea tu partida desde el Lobby. <br>
                4. Empezá a sumar puntos para entrar al ranking.
            </p>
<!--            <img src='./public/bandmember.jpg' class='w3-round' alt='seccionExplicativa' style='width:10%'>-->
        </div>
</section>

<div>
<!--    {{> footer}}-->
</div>
