{{> header}}
<link rel="stylesheet" href="/public/css/login.css">
<link rel="stylesheet" href="/public/css/home.css">

<body  class="bd-image" style="background-image: url('/public/imgs/Fondo.png')">
<main>
    <div class="wrapper fadeInDown" >
        <div id="formContent" class="p-5">
            <div class="fadeIn first">
                <div class="row">
                    <h1 class='fadeIn First'>Bienvenidos a Faquiz</h1>
                </div>

                <img class="fadeIn third front img-fluid" src="/public/imgs/faquiz-logo.png" alt="Imagen decorativa" style="width: 180px">
                <br>
                <h2 class=''>Poné a prueba tu conocimiento y formá parte de nuestro Ranking Global</h2>
                <img class="fadeIn third front img-fluid" src="/public/imgs/front.jpg" alt="Imagen decorativa" style="width: 450px">
                <p class=''><i>No te quedes afuera. Empezá a jugar</i></p>
            </div>

            <div class='fadeIn Second'>
                <a href="/login"><button type="button" class='fadeIn third'>Iniciar Sesión</button></a>
                <a href="/registro"><button type="button" class='fadeIn fourth'>Registrarse</button></a>
            </div>
        </div>
    </div>
</main>
</body>

<!--    {{> footer}}-->

