{{> header}}
<link rel="stylesheet" href="/public/css/login.css">

<body class="bd-image " style="background-image: url('/public/imgs/Fondo.png'); color: ghostwhite">

<main>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {{#usuario}}
                    <h1 class=""> Hola {{user_name}}! </h1>
                {{/usuario}}
            </div>
            <div class="card-body">
                {{#datos}}
                    <h2 class="titleLobby card-text">Puntos acumulados: {{total}}</h2>
                    <h2 class="titleLobby card-text">Partidas jugadas: {{partidas}}</h2>
                {{/datos}}

                {{#esJugador}}
                    <div   class="mt-2 m-5" style="justify-items: center">
                        <a href="/sugerirPregunta"><button class="btn btn-warning"><i class="fa-solid fa-circle-question"></i>  Sugerir Pregunta</button></a>
                    </div>
                {{/esJugador}}

                {{#esEditor}}
                    <div   class="mt-2 m-2" style="justify-items: center">
                        <a href="/revisarPregunta/sugeridas"><button class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i>   Revisar preguntas sugeridas</button></a>
                    </div>
                    <div   class="mt-2 m-2" style="justify-items: center">
                        <a href="/revisarPregunta/reportadas"><button class="btn btn-warning"><i class="fa-solid fa-exclamation"></i>   Revisar preguntas reportadas</button></a>
                    </div>
                {{/esEditor}}

                <div class="mt-2 m-2" style="justify-items: center">
                    <!--                <button formmethod="POST" type="submit" name="jugar" class="text-center">Jugar Partida</button>-->
                    <a href="/partida"><button class="btn btn-success"><i class="fa-solid fa-star"></i>   ¡Jugar Nueva Partida!</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title text-center mt-2" >Historial de las últimas 10 partidas</h5>
                <table class="card-text  table-bordered  text-center" style="width: 100%;color:black;">
                    <tr>
                        <th scope="col">Partida</th>
                        <th scope="col">Puntaje</th>
                        <th scope="col">Fecha</th>
                    </tr>
                    {{#partidas}}
                        <tr>
                            <td>{{id_partida}}</td>
                            <td>{{puntaje}}</td>
                            <td>{{fecha}}</td>
                        </tr>
                    {{/partidas}}
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body flex-lg-grow-1 bg-light-subtle border border-secundary">
                <h5 class="card-title text-center mt-2">Ranking Global</h5>
                <table class="mt-3 align-items-center card-text table-bordered text-center" style="width: 100%">
                    <tr class=>
                        <th scope="col">Puesto</th>
                        <th scope="col">Puntaje</th>
                        <th scope="col">Usuario</th>
                    </tr>

                    {{#ranking}}
                        <tr>
                            <td>{{puesto}}</td>
                            <td>{{puntaje}}</td>
                            <td><a href="/perfil/{{user}}">{{user}}</a></td>
                        </tr>
                    {{/ranking}}
                </table>
            </div>
        </div>
    </div>
    <br>
    </main>


</body>
