{{> header}}
<!-- Registro Section -->
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='registro'>
    <h2 class='w3-wide'>Registrarse</h2>
    <p class='w3-opacity'><i>¡Registrate y empezá a jugar!</i></p>
    <div class='w3-row w3-padding-32'>
        <div>
            <form action="registro.php" method="post" enctype="multipart/form-data">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    <br>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                </div>

                <br>
                <button type="submit" name="submit">Registrarme</button>
            </form>
        </div>

        <!-- End Page Content
        <div class='w3-third'>
            <p>Name</p>
            <img src='./public/bandmember.jpg' class='w3-round w3-margin-bottom' alt='Random Name' style='width:60%'>
        </div>
        <div class='w3-third'>
            <p>Name</p>
            <img src='./public/bandmember.jpg' class='w3-round w3-margin-bottom' alt='Random Name' style='width:60%'>
        </div>
        <div class='w3-third'>
            <p>Name</p>
            <img src='./public/bandmember.jpg' class='w3-round' alt='Random Name' style='width:60%'>
        </div>
        -->
    </div>
</div>

<!-- End Page Content -->
</div>
{{> footer}}