{{>header}}

<div style="max-width: 80%">
    <h3>Su cuenta fue verificada correctamente</h3>
    <p>Inicie sesión para empezar a jugar</p>
    <br>
    <a href="/login">Iniciar sesión</a>
</div>


<div>
      {{> footer}}
</div>
